<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome to the Home Page</h1>
<div class="showData" sec:authorize="isAuthenticated()">
    <h2>你的帳號是 :<span sec:authentication="principal.username"></span> </h2>
    <form th:action="@{'/logout'}" method="post">
        <button>登出</button>
    </form>
</div>
<div class="showData" sec:authorize="isAnonymous()">
    <h2>尚未未登入</h2>
    <a href="/login">Login</a>
</div>
<p><a href="/user">User Page</a></p>
<p><a href="/admin">Admin Page</a></p>

</body>
</html>
